* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

body {
  background-color: rgb(224, 224, 224);
  font-family: "Dancing Script", cursive;
}
.container {
  margin: 2rem auto;
  align-items: center;
  text-align: center;
}
.box {
  background-color: rgb(255, 255, 255);
  width: 25rem;
  margin: auto;
}
.head {
  background-color: rgb(255, 179, 0);
  padding: 1rem;
}
.mainbody {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  padding-inline: 1rem;
  background-color: rgb(187, 182, 182);
  margin: 1rem;
  justify-content: space-between;
  font-size: 1.2rem;
}

.input {
  margin: 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input input {
  margin-top: 0.1rem;
  width: 100%;
  /* border: 0.5px solid #80808077; */
  border: none;
  outline: none;
  background-color: rgba(109, 241, 32, 0.561);
  /* width: auto; */
  height: 2.5rem;
  /* padding: 1rem; */
  /* margin: 0.5rem; */
  /* border-radius: 1rem; */
  font-size: 1.2rem;
  font-family: "Dancing Script", cursive;
}
.inputdiv {
  width: 90%;
}

#btn {
  margin-top: 1rem;

  /* width: 40%; */
  /* height: 2.5rem; */
  outline: none;
  /* background-color: rgb(9, 156, 182); */
  border: none;
  /* color: white; */
  /* border-radius: 1rem; */
  /* font-size: 1rem; */
  cursor: pointer;
  font-size: 2rem;
}
#btn:hover {
  color: rgb(0, 156, 177);
}

.delete:hover {
  color: red;
  cursor: pointer;
}
.contmain {
  display: flex;
  flex-direction: column;
}
